.TodoSearch {
  background: rgb(14, 86, 58);
  border-radius: 24px;
  border: 2px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: black;
  box-shadow: 20px 10px 8px 5px rgb(32 35 41 / 25%);
}
  
  .TodoSearch::placeholder {
    color: #23040c;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #530606;
  }